<!DOCTYPE html>

<html ng-app="habitApp" >
<head>
    <meta charset="utf-8">
    <title>HabitRPG Task Exporter</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-sanitize.js"></script>
    <script src="js/habit-service.js"></script>
    <script src="js/habit-export-app.js"></script>
</head>
<body ng-controller="habitExportCtrl">
<form>
<fieldset>
    <legend>HabitRPG credentials</legend>
    <p>User-id: <input style="width:30em" ng-model="userId"></input></p>
    <p>Api-key: <input style="width:30em" ng-model="apiKey"></input></p>
</fieldset>
<fieldset>
    <legend>Fields to export (csv)</legend>
    <p ng-repeat="field in fields" style="margin:0;">
    <input type="checkbox" ng-model="field.include">{{field.name}}</input>
    </p>
</fieldset>
<div id="buttons">
    <button ng-click='checkServer()'>Check the server</button>
    <button ng-click='fetchData()'>Fetch Data</button>
    <a download="habits.csv" ng-href="{{ csvURL }}" ng-show="csvURL">Download CSV</a>
</div>
<pre ng-bind-html="trust(csv)"></pre>
</body>
</html>
